.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

background-color: #222;
color: white;
}

.App-main {
  flex:auto;
  display: flex;
}

.App-header {
  
  padding: 20px;
  
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-aside {
  width: 280px;
  flex: none;
}

.App-content {
  position: relative;
  flex: auto;
}

