@font-face{
  font-family: "RomanFont";
  src: url("./font/BASILEUS.TTF") format('truetype');
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #634739;
  background-color: #e9dac3 ;
  background-image: url("./texture/white-wall.png");
}

.App-main {
  flex:auto;
}

@media (min-width: 700px) {
  .App-main {
    display:flex;
  }

  .App-aside {
    width: 280px;
    flex: none;
  }

  .App-content {
    position: relative;
    flex: auto;
    min-height: 50vh;
  }
}

.App-header {
  padding: 10px;
  text-align: center;
}

.App-title {

  margin:10px;
  font-size: 50pt;
  font-family: 'RomanFont', Times, serif;
}

.App-map {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.App-info {
  padding: 1em;
  position: relative;
}

.App-closeInfo {
  position: absolute;
  top: 1em;
  right: 1em;
  background: #e9dac3;
  border:solid 2px #634739;
  border-radius: 999px;
  width: 1.5em;
  height: 1.5em;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
}

.App-closeInfo:hover {
  background-color: #634739;
  color:#e9dac3;
}



