.ListView {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.ListView-button {
	padding: 1em 1em;
	display: block;
	background-color: transparent;
	border: 0;
	color: inherit;
	font-size: inherit;
	width: 100%;
	text-align: left;
	cursor: pointer;
}

.ListView-item-selected {
	background-color: red;
}

.ListView-item + .ListView-item {
	border-top: solid 1px rgba(255,255,255, 0.2);
}